<h2>Editing project: <%= @project.name %></h2>
<hr>

<%= render 'form' %>

<%= link_to 'Show', @project %>
<%= link_to 'Back', projects_path %>
<%= link_to 'Add members', new_project_member_path(@project), class: 'btn btn-primary pull-left' %>
