<h2><%= @project.name %></h2>
<hr>

<table class="table">
	<thead>
		<tr>
			<% @states.each do |state| %>
				<th><%= state %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @states.each_with_index do |state, index| %>
				<td>
					<% @project.assignments.includes(:task).where(status: state).each do |a| %>
						<div class="card">
							<p><strong><%= link_to a.task.name, project_task_path(@project, a.task) %></strong></p>
							<p>Priority: <%= a.task.priority %></p>
							<p>Deadline: <%= a.task.finishing_date %></p>
							<p><%= truncate(a.task.description) %></p>
							<% if state != @states.first %>
							<%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-chevron-left pull-left"), project_assignment_path(@project, a, assignment: { status: @states[index-1]}), method: :put, confirm: "Are you sure?" %>
							<% end %>
							<% if state != @states.last %>
							<%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-chevron-right pull-right"), project_assignment_path(@project, a, assignment: { status: @states[index+1]}), method: :put, confirm: "Are you sure?" %>
							<% end %>
						</div>
					<% end %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>
<div class="alert alert-info">
	<p><strong>Owner:</strong> <%= @owner.full_name %></p>
	<p><strong>Deadline:</strong> <%= @project.deadline %></p>
	<p class="text-muted"><%= @project.description %></p>
</div>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-success pull-right' %>
<%= link_to 'Add Card', new_project_task_path(@project), class: 'btn btn-primary pull-left' %>